@charset "UTF-8";
button:hover {
  border-radius: 24px;
  background: rgb(162, 101, 57);
  color: rgb(255, 255, 255);
  font-family: inherit;
  text-align: center;
}

.rotation {
  transform-origin: center center; /* Центр картинки */
  transition: transform 2s ease; /* Плавный переход */
}

.rotation:hover {
  transform: rotate(360deg); /* Вращение на 360 градусов */
}

.contactEffect:hover {
  color: rgb(162, 101, 57);
}

.contactEffect {
  cursor: pointer;
}

.contactEffect:hover path {
  fill: rgb(162, 101, 57); /* Цвет при наведении */
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none; /* Убираем маркеры */
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.label {
  color: rgb(69, 64, 61);
  font-size: 32px;
  font-weight: 800;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}

.header {
  height: 120px;
}
.header__menuFix {
  position: fixed;
  height: 120px;
  left: 0%;
  right: 0%;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* gap: 1px; */
  z-index: 10;
}
.header__menu {
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.header__description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.header__menuButtom {
  display: flex;
  flex-direction: row;
  gap: 48px;
}
.header__menuLink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}
.header__link {
  color: rgb(69, 64, 61);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}
.header__button {
  width: 169px;
  height: 52px;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid rgb(162, 101, 57);
  border-radius: 24px;
  padding: 16px 36px 16px 36px;
  font-family: inherit;
  color: rgb(162, 101, 57);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}
.header__content {
  height: 670px;
  padding-top: 118.85px;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}
.header__content_title {
  width: 570px;
  z-index: 3;
  color: rgb(69, 64, 61);
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
}
.header__content_minTitle {
  width: 499px;
}
.header__content_text {
  width: 499px;
}
.header__content_button {
  width: 366px;
  height: 52px;
  margin-top: 16px;
  padding: 16px 36px 16px 36px;
  box-sizing: border-box;
  border: 1px solid rgb(162, 101, 57);
  border-radius: 24px;
  color: rgb(162, 101, 57);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  font-family: inherit;
  text-align: center;
}
.header__img {
  position: relative;
}
.header__imgG {
  position: absolute;
  left: -53px;
  top: -26%;
  z-index: 1;
}
.header__coffee {
  position: absolute;
  left: -50px;
  top: -23%;
  z-index: 2;
}
.header__grains {
  position: absolute;
  left: 365px;
  top: -10%;
  z-index: 2;
}
.header__Cookie {
  position: absolute;
  left: -38px;
  top: 37%;
  z-index: 2;
}
.header__Cinnabon {
  position: absolute;
  left: 228px;
  top: 12%;
  z-index: 2;
}

.aboutUs {
  padding-top: 64px;
  padding-bottom: 64px;
}
.aboutUs__title {
  color: rgb(69, 64, 61);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 48px;
}
.aboutUs__box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}
.aboutUs__cart {
  width: 584px;
  height: 292px;
  border-radius: 24px 24px 24px 0px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.14);
  background: rgb(255, 255, 255);
  overflow: hidden;
  display: grid; /* Заменено на grid */
  grid-template-columns: 1fr 1fr; /* Две равные колонки */
}
.aboutUs__cartImg {
  overflow: hidden;
}
.aboutUs__cartContent {
  padding: 20px;
}
.aboutUs__cartTitle {
  color: rgb(69, 64, 61);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
}
.aboutUs__cartText {
  color: rgb(69, 64, 61);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}

.menu {
  padding-top: 64px;
  padding-bottom: 64px;
}
.menu__titleBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu__titleBoxBu {
  display: flex;
  flex-direction: row;
  gap: 7px;
}
.menu__button {
  width: 120px;
  height: 45px;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid rgb(162, 101, 57);
  border-radius: 24px;
  color: rgb(162, 101, 57);
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
}
.menu__box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}
.menu__title {
  margin-bottom: 48px;
  color: rgb(69, 64, 61);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
}
.menu__cart {
  width: 276px;
  height: 432px;
  border-radius: 24px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.14);
  background: rgb(255, 255, 255);
  display: grid; /* Заменено на grid */
  grid-template-rows: 1fr 1fr; /* Две равные колонки */
  overflow: hidden;
}
.menu__cartImg {
  overflow: hidden;
}
.menu__cartContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.menu__cartPrise {
  color: rgb(69, 64, 61);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
}
.menu__cartText {
  color: rgb(69, 64, 61);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}
.menu__cartMl {
  color: rgb(154, 154, 154);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}

.reviews {
  padding-top: 64px;
  padding-bottom: 64px;
}
.reviews__title {
  margin-bottom: 48px;
  color: rgb(69, 64, 61);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
}
.reviews__box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}
.reviews__cart {
  width: 338px;
  height: 165px;
  padding: 20px;
  border-radius: 24px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.14);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.reviews__cartImg {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.reviews__cartTitle {
  color: rgb(69, 64, 61);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
}
.reviews__cartText {
  color: rgb(69, 64, 61);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}

.search {
  padding-top: 64px;
  padding-bottom: 64px;
}
.search__title {
  margin-bottom: 48px;
  color: rgb(69, 64, 61);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
}
.search__box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}
.search__menu {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.search__contact {
  padding: 20px;
  border-radius: 24px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.14);
  background: rgb(255, 255, 255);
}
.search__contact_title {
  margin-bottom: 24px;
  color: rgb(69, 64, 61);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
}
.search__contact_box {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.search__contact_inf {
  color: rgb(69, 64, 61);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.search__form {
  padding: 20px;
  border-radius: 24px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.14);
  background: rgb(255, 255, 255);
}
.search__form_box {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.search__form_input {
  width: 339px;
  height: 47px;
  padding: 0 24px 0 24px;
  box-sizing: border-box;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 24px;
  color: rgb(154, 154, 154);
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  transition: opacity 0.5s ease;
}
.search .cleared {
  opacity: 0.5; /* Полупрозрачное состояние при очистке */
}
.search__button {
  width: 339px;
  height: 47px;
  margin-top: 24px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid rgb(162, 101, 57);
  border-radius: 24px;
  color: rgb(162, 101, 57);
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
}
.search__map {
  grid-column: span 8;
  overflow: hidden;
  border-radius: 24px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.14);
  background: rgb(222, 222, 222);
}

.footer {
  height: 156px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__label {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer__menu_box {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.footer__icon {
  display: flex;
  justify-content: right;
  gap: 14px;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 26px;
    padding-right: 26px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
}/*# sourceMappingURL=style.css.map */