

button:hover{
    border-radius: 24px;
    background: rgb(162, 101, 57);
    color: rgb(255, 255, 255);
    font-family: inherit;
    text-align: center;
}

.rotation {
    transform-origin: center center; /* Центр картинки */
    transition: transform 2s ease; /* Плавный переход */
}
.rotation:hover {
    transform: rotate(360deg); /* Вращение на 360 градусов */
}
.contactEffect:hover {
    color: rgb(162, 101, 57);
}
.contactEffect{
    cursor: pointer;
}
.contactEffect:hover path {
    fill: rgb(162, 101, 57); /* Цвет при наведении */
}



@import "index";
@import "tablet";
@import "mobile";

